# Dependencies
node_modules/

# Production Builds
dist/
build/

# Environment Variables
.env
.env.local
.env.production

# Server Uploads
server/public/uploads/*
!server/public/uploads/.gitkeep

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

.vercel
